Icon?
.DS_Store?
Thumbs.db

*.jar
*.rar
*.tar
*.zip
*.log
*.sql

sites/default/settings.php
sites/default/files/
sites/all/files/
sites/all/private/
sites/all/themes/cpdn/
sites/all/themes/ndpc_garland/ndpc_garland-logo.jpg